node_modules
dist
dist-ssr
production
.git
.vscode
.npmrc
.eslintrc
.node-dev.json
Dockerfile
.dockerignore
README.md
POST_MIGRATION_TODO.md
SEO_PLAN.md
types
src
tsconfig*.json
vite.config.ts
postcss.config.ts
purgecss.config.cjs
babel.config.json
nodemon.json
